[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-rest-framework = "*"
django-cors-headers = "*"
graphene = "*"
graphene-django = "*"
django-filter = "*"
oauth2client = "*"
google-api-python-client = "*"
django-ical = {editable = true,git = "https://github.com/Hazelfire/django-ical.git"}

[requires]
python_version = "3.7"
